/* Kelas default */
.default {
    background-color: #F8F8F8;
    color: #333;
    border: 1px solid #CCC;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.default:hover {
    background-color: #E0E0E0;
}

/* Kelas primary (gaya yang berbeda) */
.primary {
    background-color: #007BFF; /* Biru */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.primary:hover {
    background-color: #0056b3;
}